.photographer-list {
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  margin-top: 15px;
  margin-left: 6rem;
  margin-right: 5rem;
 }

/* Responsive Design */
@media (max-width: 1024px) {
  .photographer-card {
    width: calc(25% - 20px); /* 4 cards per row with spacing */
  }
}

@media (max-width: 768px) {
  .photographer-card {
    width: calc(50% - 20px); /* 2 cards per row */
  }
}

@media (max-width: 480px) {
  .photographer-card {
    width: calc(100% - 20px); /* 1 card per row */
  }
}
