.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.loading-text {
  font-size: 1.25rem;
  color: #1d4ed8; /* Adjust color to match your theme */
  margin-bottom: 1rem;
}

.loading-spinner {
  border: 4px solid #f3f4f6; /* Light grey background */
  border-top: 4px solid #1d4ed8; /* Blue spinner */
  border-radius: 50%;
  width: 3rem; /* Adjust size */
  height: 3rem; /* Adjust size */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.photographer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px;
  gap: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .photographer-list {
    flex-direction: column;
    align-items: center;
  }
}
